.footer {
<<<<<<< HEAD
  margin-top: 100px;
  left: 0;
  bottom: 0;
  padding: 10px 40px 10px 40px;
  background-color: #333;
  color: white;
  text-align: center;
  font-family: Helvetica, sans-serif;  
  font-size: 15px;
 
=======
   margin: 100px 0 30px 0;
   left: 0;
   bottom: 0;
   padding: 0 40px 10px 40px;
   background-color: #333;
   color: white;
   font-family: Helvetica, sans-serif;  
   font-size: 15px;
>>>>>>> 16225c4874a49c4ff9b959b50463b32a5a0cb382
}

.footer a:link {
   color:white;
}

.footer a:visited {
   text-decoration: none;
 color: gray;
}

h5 {
<<<<<<< HEAD
 display: block;
 font-size: 1.3em;
 margin-top: 0.83em;
 margin-bottom: 0.4em;
 margin-left: 0;
 margin-right: 0;
 font-weight: bold;
 font-family: Copperplate, Papyrus, fantasy;
=======
  display: block;
  font-size: 1.3em;
  margin: 0.83em 0 0.4em 0;
  font-weight: bold;
  font-family: Copperplate, Papyrus, fantasy;
>>>>>>> 16225c4874a49c4ff9b959b50463b32a5a0cb382
}

h6 {
  text-align: center;
  margin: 0 0 3px 0;
}

.flex-container{
 display: flex;
}

.vertical a{
  display: block;
  line-height: 1.6;
  color: white;
}

.vertical a:hover{
  color: white;
}

.footer .flex-container > div{
 margin-right:40px;
 padding: 50px;
}

.flex-container img{
 padding-top:10px;
  width:20px;
  height:20px;
 
}





